/*
** Respond mixins
*/

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

@mixin text-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $white;
    opacity: 0.6;

    &:hover {
        opacity: 1;
        transition: $defaultTransition;
    }
}